<% provide(:title, 'Charities' )%>
<div class="center hero-unit">
  <h1>We want to support Charities </h1>

  <h2>
    This is the charity page for the
    <a href="http://voltee.org/">Voltee</a>
    sample application.
  </h2>

  <%= link_to "Request an invite!", signup_path, class: "btn btn-large btn-primary" %>
</div>
