<div class="center hero-unit">
  <h1>Volunteering anywhere, any time. </h1>

  <h2>
    This is the home page for the
    <a href="http://voltee.org/">Voltee</a>
    sample application.
  </h2>

  <%= link_to "Request an invite!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<!-- Top row of columns -->

<div>
	<h2> This is volunteering for the online generation</h2>
</div>
<hr />
<div class="row">
	
	<div class="span6">
		<h3><i class ="icon-check"></i>Easy Volunteering </h3>  
                  
           <p>Our vision is to make it easy for everyone to contribute to a 
           	cause that matters to them. You can volunteer at home, at your local 
           	coffee shop, or on your morning commute; all through your laptop, smartphone or tablet.</p>
               
          
        </div>
        <div class="span6">
            
            <h3><i class="icon-time"></i>Timed to perfection</h3>
           <p>Our tasks can take as little as 2 minutes and still make a massive 
           	impact to the cause you are supporting. We make it easy for you to find 
           	tasks that fit your needs and allow you to contribute quickly and effectively.</p>
          
       </div>
        <div class="span6">
            
            <h3><i class="icon-star-empty"></i>Be rewarded</h2>
          <p>By volunteering your time to help causes around the world you are making
          	 a real impact and we believe you should be rewarded for the work you are doing. 
          	 We are introducing a unique reward system to say thanks to our Voltee volunteers.</p>
          
        </div>
          
         <div class="span6">
             
             <h3><i class="icon-eye-open"></i>Visualise your impact</h3>
           <p>By tracking the work that you do for causes through Voltee we can easily visualise the 
           	impact that you are making. You can share this visual certificate of contribution with your 
           	friends, family and potential employers.</p>
          
       </div>
      </div>
          




